.settingBtn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.settingBtn input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.settingBtn label{
    cursor: pointer;
    
    width: 60px;
    height: 60px;

    margin-left: 3px;

    border: 2px solid var(--color4);
    border-radius: 4px;
}

.settingBtn label:hover{
    border: 2px solid var(--color1);
}


.FakeBtn-1{
    background-image: url(../../../images/settingsBtn/off/icon-add-pople-off.svg);
}

.FakeBtn-2{
    background-image: url(../../../images/settingsBtn/off/icon-del-pople-off.svg);
}

.FakeBtn-3{
    background-image: url(../../../images/settingsBtn/off/icon-add-bus-off.svg);
}

.FakeBtn-4{
    background-image: url(../../../images/settingsBtn/off/icon-del-bus-off.svg);
}
.FakeBtn-5{
    background-image: url(../../../images/settingsBtn/off/icon-db-off.svg);
}

/*  */

.FakeBtn-1:hover{
    background-image: url(../../../images/settingsBtn/on/icon-add-pople-on.svg);
}

.FakeBtn-2:hover{
    background-image: url(../../../images/settingsBtn/on/icon-del-pople-on.svg);
}

.FakeBtn-3:hover{
    background-image: url(../../../images/settingsBtn/on/icon-add-bus-on.svg);
}

.FakeBtn-4:hover{
    background-image: url(../../../images/settingsBtn/on/icon-del-bus-on.svg);
}
.FakeBtn-5:hover{
    background-image: url(../../../images/settingsBtn/on/icon-db-on.svg);
}

/*  */

#Btn1:checked + .FakeBtn-1{
    background-image: url(../../../images/settingsBtn/on/icon-add-pople-on.svg);
    border: 2px solid var(--color1);
}

#Btn2:checked + .FakeBtn-2{
    background-image: url(../../../images/settingsBtn/on/icon-del-pople-on.svg);
    border: 2px solid var(--color1);
}

#Btn3:checked + .FakeBtn-3{
    background-image: url(../../../images/settingsBtn/on/icon-add-bus-on.svg);
    border: 2px solid var(--color1);
}

#Btn4:checked + .FakeBtn-4{
    background-image: url(../../../images/settingsBtn/on/icon-del-bus-on.svg);
    border: 2px solid var(--color1);
}
#Btn5:checked + .FakeBtn-5{
    background-image: url(../../../images/settingsBtn/on/icon-db-on.svg);
    border: 2px solid var(--color1);
}
