.header{

    width: auto;
    height: 74px;

    display: flex;
    align-items: center;

    padding-left: 50px;

    color: var(--color5);
    border-bottom: 5px solid var(--color5);
}

.header div{

    display: flex;
    align-items: center;

}

.header div img{
    padding-right: 10px;
}